.header {
  background-color: #fff;
}

.nav_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header_logo {
  width: 70px;
  height: 70px;
}

.header_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_link {
  margin-right: 35px;
  color: #212121;
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: .1s linear transform;
  -o-transition: .1s linear transform;
  transition: .1s linear transform;
}

.header_link:hover {
  color: #000;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  cursor: pointer;
  border: none;
  background: unset;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.mainBar {
  -webkit-transition: margin-left .5s;
  -o-transition: margin-left .5s;
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
  display: none;
}

.fa-bars {
  color: black;
  font-size: 30px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

@media (max-width: 700px) {
    .header_links {
      display: none;
    }

    .mainBar {
      display: block;
    }

    .header {
      top: 0;
      position: -webkit-sticky;
      position: sticky;
    }
  }

  @media (max-width: 320px) {
    .header_logo {
      width: 55px;
      height: 55px;
    }
  }