.start {
  background: url(../img/start/start.png);
  background-size: 100%;
  height: 779px;
  width: 100%;
}

.start_intro {
   padding-top: 300px;
   text-align: center;
}

.start_intro__title {
   font-size: 60px;
   color: #fff;
}

.start_intro__title_word {
   color: red;
}

.start_intro__subtitle {
   color: #fff;
   font-size: 22px;
   font-weight: 500;
}

.start_intro__button {
  padding-top: 100px;
}

.start_intro__button_link {
  text-decoration: none;
  color: white;
  border: 2px solid #f8f8f8;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
  transition: .1s linear background-color;
}

.start_intro__button_link:hover {
  background-color: red;
}

 .fa-chevron-down {
   margin-top: 50px;
   font-size: 22px;
   color: #fff;
   -webkit-transition: .1s linear transform;
   -o-transition: .1s linear transform;
   transition: .1s linear transform;
 }

 .fa-chevron-down:hover {
   -webkit-transform: scale(1.5);
       -ms-transform: scale(1.5);
           transform: scale(1.5);
 }

 @media (max-width: 1200px) {
    .start {
      background-size: cover;
    }

    .start_intro {
      padding-top: 200px;
    }

    .start {
      height: 770px;
    }

}

@media (max-width: 700px) {
  .start_intro__title {
    font-size: 50px;
  }

  .start {
    height: 600px;
  }
}

@media (max-width: 400px) {

  .start_intro {
    padding-top: 150px;
  }

}

@media (max-width: 320px) {

  .start_intro {
    padding-top: 100px;
  }

  .start_intro__title {
    font-size: 30px;
  }

  .start_intro__subtitle {
    font-size: 20px;
 }

 .start_intro__button {
   padding-top: 70px;
 }

 .start {
  height: 470px;
  }

}